@{
    ViewBag.Title = null;
    Layout = null;
}

<head>
    <link href="~/Content/css/LoginStyleSheet.css" rel="stylesheet" type="text/css">
    <style>
        .first {
            font-family: "Arial","Microsoft YaHei","黑體","宋體",sans-serif;
            font-size:26px;
            color:#9b9b9b
        }
    </style>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
               德義後勤
            </div>
            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="請輸入帳號">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="請輸入密碼">
                <input type="submit" class="fadeIn fourth" value="登入">
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">修改密碼</a>
            </div>
        </div>
    </div>
</body>