@{
    ViewBag.Title = "Order";
}


<div class="card shadow mb-4">
    <div class="card-header py-2 d-flex flex-row">
        <h3>訂單查詢</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="tborderid" id="lborderid">訂單編號：</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="tborderid" name="tborderid" class="form-control" />
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <label for="selw" id="lbw">酒莊：</label>
                </div>
                <div class="col-sm-3">
                    <select id="selw" name="selw" class="form-control">
                        <option>酒莊1</option>
                        <option>酒莊2</option>
                    </select>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="tbCustomer" id="lbw">客戶名稱：</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="tbCustomer" name="tbCustomer" class="form-control" />
                </div>
                <div class="col-sm-8"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="tbCategory" id="lbCategory">分類：</label>
                </div>
                <div class="col-sm-3">
                    <select id="tbCategory" name="tbCategory" class="form-control">
                        <option>酒類</option>
                        <option>其他</option>
                    </select>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <label for="tbProduct" id="lbProduct">商品名稱：</label>
                </div>
                <div class="col-sm-3">
                    <select id="tbProduct" name="tbProduct" class="form-control">
                        <option>葡萄酒</option>
                        <option>白葡萄酒</option>
                    </select>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="tbOutTimeStart" id="lbOutTime">出貨時間：</label>
                </div>
                <div class="col-sm-3">
                    <input type="date" id="tbOutTimeStart" name="tbOutTimeStart" class="form-control is-vaid" />
                </div>
                <div class="col-sm-8"></div>
            </div>
            <button id="" class="btn btn-primary"><span class="fa fa-search"></span>&nbsp;查詢</button>
        </form>
    </div>
</div>
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3 ">
        <h3>訂單列表</h3>
    </div>
    <div class="card-body">
        <div class="">
            <div class="dataTables_wrapper">
                <div class="row">
                    <div></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>訂單號碼</th>
                                    <th>酒莊</th>
                                    <th>客戶名稱</th>
                                    <th>備註</th>
                                    <th>出貨時間</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>10000000</td>
                                    <td>酒莊1</td>
                                    <td>aaa</td>
                                    <td></td>
                                    <td>2020/02/01</td>
                                    <td class="text-center">
                                        <button id="opener" class="btn btn-info"><span class="fa fa-sticky-note"></span>&nbsp;明細</button>
                                        <button id="btnEdit" class="btn btn-success"><span class="fa fa-edit"></span>&nbsp;編輯</button>
                                        <button id="btnDelete" class="btn btn-danger"><span class="fa fa-trash"></span>&nbsp;刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
    <div id="dialog" title="訂單明細" >
        <div class="form-group row">
            <div class="col-lg-2">
                <label>訂單編號：</label>
            </div>
            <div class="col-lg-4">
                <label>10000000</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2">
                <label>酒莊：</label>
            </div>
            <div class="col-lg-4">
                <label>酒莊1</label>
            </div>
            <div class="col-lg-2">
                <label>客戶名稱：</label>
            </div>
            <div class="col-lg-4">
                <label>aaa</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2">
                <label>送貨地點：</label>
            </div>
            <div class="col-lg-4">
                <label>台北市</label>
            </div>
            <div class="col-lg-2">
                <label>出貨時間：</label>
            </div>
            <div class="col-lg-4">
                <label>2020/02/03</label>
            </div>
        </div>
        <div class="form-group row">
            <table class="table">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>產品編號</th>
                        <th>產品名稱</th>
                        <th>重量</th>
                        <th>容量</th>
                        <th>瓶數</th>
                        <th>數量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>P1000435</td>
                        <td>白葡萄酒</td>
                        <td>1bs</td>
                        <td>375ml</td>
                        <td>12 Bottle</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    