@model EntityModels.Members

@{
    ViewBag.Title = "Delete";
    List<SelectListItem> list = new List<SelectListItem>
{
new SelectListItem{Text="酒莊" ,Value="0"},
new SelectListItem { Text = "員工", Value = "1" }
};
}

<h2>刪除會員</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal"></dl>

    @using (Html.BeginForm())
     {

        <div>
            <form>
                <div>
                    <input id="username" type="text" name="username" value="@Model.fAccount" placeholder="請輸入會員帳號....." />
                </div>
                <div>
                    <input id="userpwd" type="text" name="userpwd" value="@Model.fPassWord" placeholder="請輸入會員密碼....." />
                </div>
                <div>
                    <input id="submit" type="submit" value="刪除會員資料..." />
                </div>
                <div>
                    <a><input type="button" value="@Url.Action("LoginPage")" /></a>
                </div>
            </form>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("回到主選單", "Home/Index")
        </div>

     }



</div>

